/* @charset "UTF-8";

@font-face {
  font-family:'NanumBarunGothic-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Nanum Barun Gothic Light'),
       local('NanumBarunGothicLight'),
       url(fonts/NanumBarunGothicLight.eot) format('embedded-opentype'),
       url(fonts/NanumBarunGothicLight.woff) format('woff'),
       url(fonts/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
  font-family:'NanumBarunGothic-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Barun Gothic'),
       local('NanumBarunGothic'),
       url(fonts/NanumBarunGothic.eot) format('embedded-opentype'),
       url(fonts/NanumBarunGothic.woff) format('woff'),
       url(fonts/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family:'NanumBarunGothic-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Nanum Barun Gothic Bold'),
       local('NanumBarunGothicBold'),
       url(fonts/NanumBarunGothicBold.eot) format('embedded-opentype'),
       url(fonts/NanumBarunGothicBold.woff) format('woff'),
       url(fonts/NanumBarunGothicBold.ttf) format('truetype');
}
 */

@charset "UTF-8";
@font-face {
    font-family: 'NanumBarunGothic-Light';
    font-style: normal;
    font-weight: 300;
    src: local('Nanum Barun Gothic Light'), local('NanumBarunGothicLight'), url(fonts/NanumBarunGothicLight.eot) format('embedded-opentype'), url(fonts/NanumBarunGothicLight.woff) format('woff'), url(fonts/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Nanum Barun Gothic'), local('NanumBarunGothic'), url(fonts/NanumBarunGothic.eot) format('embedded-opentype'), url(fonts/NanumBarunGothic.woff) format('woff'), url(fonts/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Nanum Barun Gothic Bold'), local('NanumBarunGothicBold'), url(fonts/NanumBarunGothicBold.eot) format('embedded-opentype'), url(fonts/NanumBarunGothicBold.woff) format('woff'), url(fonts/NanumBarunGothicBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/NotoSansKR-Light.woff2) format('woff2'), url(fonts/NotoSansKR-Light.woff) format('woff'), url(fonts/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/NotoSansKR-Regular.woff2) format('woff2'), url(fonts/NotoSansKR-Regular.woff) format('woff'), url(fonts/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/NotoSansKR-Medium.woff2) format('woff2'), url(fonts/NotoSansKR-Medium.woff) format('woff'), url(fonts/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/NotoSansKR-Bold.woff2) format('woff2'), url(fonts/NotoSansKR-Bold.woff) format('woff'), url(fonts/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'S-Core';
    src: url('fonts/S-Core1.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'S-Core';
    src: font('fonts/S-Core2.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'S-Core';
    src: url('fonts/S-Core3.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'S-Core';
    src: url('fonts/S-Core4.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'S-Core';
    src: url('fonts/S-Core5.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'S-Core';
    src: url('fonts/S-Core6.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'S-Core';
    src: font('fonts/S-Core7.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'S-Core';
    src: font('fonts/S-Core8.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'S-Core';
    src: font('fonts/S-Core9.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}